{% extends 'login/base.html.twig' %}

{% block title %}SIGN IN
{% endblock %}

{% block body %}
	<body
		class="img js-fullheight">

		{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

		{# <form method="post">
					<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="btn btn-lg btn-primary" type="submit">
						Sign in
					</button>
		
				</form> #}


		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">sign in</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
							<h3 class="mb-4 text-center">Have an account?</h3>
							<form action="#" method="POST" class="signin-form">
								<div class="form-group">
									<input type="text" name="email" class="form-control" placeholder="Username" required>
								</div>
								<div class="form-group">
									<input id="password-field" name="password" type="password" class="form-control" placeholder="Password" required>
									<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								</div>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
								</div>
								<div class="form-group d-md-flex">
									<div class="w-50">
										<label class="checkbox-wrap checkbox-primary">Remember Me
											<input type="checkbox" checked>
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#" style="color: #fff">Forgot Password</a>
									</div>
								</div>

							</form>
							<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
							<div class="social d-flex text-center">
								<a href="#" class="px-2 py-2 mr-md-1 rounded">
									<span class="ion-logo-facebook mr-2"></span>
									Facebook</a>
								<a href="#" class="px-2 py-2 ml-md-1 rounded">
									<span class="ion-logo-twitter mr-2"></span>
									Google</a>
							</div>
						</div>


						<div class="border-top card-body text-center">Don't have an account?
							<a href="sign/up">sign Up</a>
						</div>


					</section>


					<script src="js/jquery.min.js"></script>
					<script src="js/popper.js"></script>
					<script src="js/bootstrap.min.js"></script>
					<script src="js/main.js"></script>

				</body>
			{% endblock %}
