<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="{{ asset("assets/img/logo.jpg") }}" rel="icon">
		<link href="{{ asset("assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link
			href="{{ asset("assets/vendor/aos/aos.css")}}" rel="stylesheet">
			{# <link href="{{ asset("assets/vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet"> #}
			<link href="{{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">
			<link href="{{ asset("assets/css/style.css")}}" rel="stylesheet">
			<link rel="stylesheet" href="{{asset("assets/login/css/style.css")}}">


		{% endblock %}

		<title>
			{% block title %}BOGO
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}

	</head>
	<body>
		{{include ('includes/header.html.twig') }}
		<section id="hero"> {% block section %}{% endblock %}
			</section>

			{% block body %}{% endblock %}


			{% include "includes/footer.html.twig" %}


			{% block javascripts %}
				{#{{ encore_entry_script_tags('app') }}#}
				<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
				<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

				<script>
					AOS.init()
				</script>

			{% endblock %}
		</body>
	</html>
