<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="{{ asset("assets/img/logo.jpg") }}" rel="icon">
		<link href="{{ asset("assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link
			href="{{ asset("assets/vendor/aos/aos.css")}}" rel="stylesheet">
			{# <link href="{{ asset("assets/vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet"> #}
			<link href="{{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">
			<link href="{{ asset("assets/css/style.css")}}" rel="stylesheet">
			<link rel="stylesheet" href="{{asset("assets/login/css/style.css")}}">
	 <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="{{asset("assets/admin/css/styles.css")}}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{asset("assets/admin/js/scripts.js")}}"></script>

		{% endblock %}

		<title>
			{% block title %}BOGO
			{% endblock %}
		</title>
		
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}

{# <nav class="navbar navbar-light bg-light navbar-expand-lg"> 
    <a class="navbar-brand" href="/home">Accueil</a>
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
</nav> #}

		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}

	</head>
	{% block javascript %}
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

	{% endblock %}
	<body class="bg-white">
	{% block body %}
	{% endblock %}
	</body>
	</html>
