{% extends 'base.html.twig' %}

{% block title %}Deal index{% endblock %}

{% block body %}
    <h1>Deal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Deal_name</th>
                <th>Deal_desc</th>
                <th>Image</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.id }}</td>
                <td>{{ deal.dealName }}</td>
                <td>{{ deal.dealDesc }}</td>
                <td>{{ deal.image }}</td>
                <td>{{ deal.startDate ? deal.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deal.endDate ? deal.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deal.quantity }}</td>
                <td>{{ deal.price }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
