{% extends './base.html.twig' %}

{% block title %}New Deal
{% endblock %}


{% block stylesheets %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	<style>
		.bg-theme {
			background-color: #f82249;
		}
		.color-theme {
			color: #f82249;
		}
	</style>

{% endblock %}

{% block body %}
	<div class="container">

		{% if message != '' %}
			<div class="mt-5 alert alert-danger" role="danger"> {{message}}
			</div>
		{% endif %}

		<div class="row">
			<div class="col text-center py-5">
				<h1 class="color-theme">Create New Deal</h1>
			</div>
		</div>


		{# <div class="row">
								<div class="col-md-6 text-center">
									<select class="form-select" aria-label="Default select example">
										<option selected>Open this select menu</option>
										{% for categorie in categories %}
											<option value="{{categorie.id}}">{{categorie.categoryName}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6 text-center">
									<h1>hey</h1>
								</div>
							</div> #}

		<form method="POST">

			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default ">Deal Name</span>
						</div>
						<input type="text" name="DealName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">Deal Description</span>
						</div>
						<input type="text" name="DealDescription" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">Image</span>
						</div>
						<input type="text" name="Dealimage" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">Start Date</span>
						</div>
						<input type="date" name="StartDate" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">End Date</span>
						</div>
						<input type="date" name="EndDate" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">Quantity</span>
						</div>
						<input type="text" name="DealQuantity" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">Price</span>
						</div>
						<input type="text" name="DealPrice" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-theme text-white" id="inputGroup-sizing-default">Categorie</span>
						</div>
						<select name="categorie" class="custom-select" id="inputGroupSelect01">
							<option selected>Choose...</option>
							{% for categorie in categories %}
								<option value="{{categorie.id}}">{{categorie.categoryName}}</option>
							{% endfor %}
						</select>
					</div>


				</div>

				<div class="text-center mt-5">
					<button type="submit" class="btn btn-lg bg-theme text-white">Submit</button>

				</div>


			</div>

		</form>
	</div>

{% endblock %}
